body {
    position: relative
}

.section-blue, .section-dark-blue {
    background-color: #196eb4;
    color: #fff
}

.section-gray {
    background-color: #f9fafc;
    color: #8694a0
}

.section-white {
    background-color: #fff;
    color: #8694a0
}

.section-blue a, .section-dark-blue a {
    color: #fff
}

.sprite {
    display: inline-block;
    background-image: url("../img/sprites.png");
    background-repeat: no-repeat
}

.sprite-check-circle {
    background-position: 0 0;
    width: 19px;
    height: 19px
}

.sprite-envelope {
    background-position: -19px 0;
    width: 16px;
    height: 10px
}

.sprite-twitter {
    background-position: -35px 0;
    width: 16px;
    height: 14px
}

.sprite-menu {
    background-position: -51px 0;
    width: 24px;
    height: 24px
}

.logo, .logo-symbol {
    display: inline-block
}

.logo-symbol {
    background: url("../img/logo-symbol.png");
    width: 90px;
    height: 90px;
    background-size: 100% 100%;
    margin-left: -10px
}

.logo-copy {
    border-bottom: 1px solid #e4eaef;
    margin: 0 0 0 0rem
}

.section-navigation {
    padding: 2.5rem 0
}

.section-navigation .navbar {
    padding: 0
}

@media (min-width: 1200px) {
    .section-navigation .navbar {
        padding: 0 4.2rem
    }
}

.section-navigation .navbar-brand {
    margin: 0;
    padding: 0
}

.section-navigation .navbar-toggler {
    border: 0;
    border-radius: 10rem;
    padding: .5rem;
    width: 2.5rem;
    height: 2.5rem
}

.section-navigation .navbar-toggler:active, .section-navigation .navbar-toggler:focus, .section-navigation .navbar-toggler:hover {
    background: #095797
}

.section-navigation .navbar-nav {
    margin: 1rem 0 0;
    background: #095797
}

@media (min-width: 768px) {
    .section-navigation .navbar-nav {
        margin: -1.7rem -.4rem 0 auto;
        background: transparent
    }
}

.section-navigation .nav-link {
    padding: .5rem
}

.section-navigation .nav-link:hover, .section-navigation .navbar .active .nav-link {
    color: #69aee9
}

.section-contact {
    padding: 4.8rem 0 6.8rem
}

.section-contact h1 {
    font-weight: 300;
    color: #596773;
    margin: 0 0 1.2rem
}

.section-contact p {
    margin: 0 0 2.6rem
}

.section-contact .btn {
    padding: .5rem 1.3rem;
    border-radius: .1rem;
    -webkit-box-shadow: none;
    box-shadow: none
}

.section-footer {
    padding: 5.1rem 0 4rem;
    font-size: .9rem;
    color: #69aee9
}

.section-footer h6 {
    font-size: 1.1rem;
    color: #69aee9
}

.section-footer p {
    margin: 0
}

.section-footer .list-unstyled {
    margin: 0 0 1.1rem
}

.section-footer li {
    margin: .15rem 0
}

.section-footer .content-contact {
    color: #fff
}

.section-footer .sprite {
    margin: 0 .5rem 0 0
}

.section-footer .content-copyright {
    margin: 2.3rem 0 0;
    color: #fff
}

.section-tagline {
    padding: 3rem 0rem 5rem
}

.section-tagline h1 {
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 1.6rem
}

.section-tagline h3 {
    font-weight: 300
}

.section-mission {
    padding: 5.7rem 0 5.55rem;
    border-bottom: 1px solid #e4eaef
}

.section-mission h1 {
    font-weight: 300;
    color: #596773;
    margin: 0 0 2.6rem
}

.section-mission h5 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: -.02rem
}

.section-mission p {
    margin: 0 0 2.6rem
}

.section-mission .content {
    padding: 0
}

@media (min-width: 992px) {
    .section-mission .content {
        padding: 0 3.3rem
    }
}

.section-build {
    padding: 3rem 0;
    border-bottom: 1px solid #e4eaef
}

.section-build .card {
    border: 1px solid #e4eaef;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    padding: 2rem
}

@media (min-width: 768px) {
    .section-build .card {
        padding: 4rem 3.6rem 2.2rem;
        margin: 0 5rem
    }
}

@media (min-width: 1200px) {
    .section-build .card {
        margin: 0 14.4rem
    }
}

.section-build .content-copy {
    padding: .7rem 0 0
}

.section-build h5 {
    font-size: 1.35rem;
    font-weight: 400;
    color: #596773
}

.section-build .form-control {
    padding: .9rem .75rem;
    border: 1px solid #e3e9ef
}

.section-build .btn {
    padding: .9rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0
}

@media (min-width: 768px) {
    .section-build .btn {
        padding: .9rem 2.4rem
    }
}

.section-build .form-text {
    font-size: .75rem;
    margin: .75rem 0 0
}

@media (min-width: 1200px) {
    .section-build .form-text {
        margin: .75rem 0 0 2.5rem
    }
}

.section-team {
    padding: 6.2rem 0 6.5rem;
    border-bottom: 1px solid #e4eaef
}

@media (min-width: 1200px) {
    .section-team .col-xl-f {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
        flex: 0 0 17%;
        max-width: 17%
    }
}

.section-team h1 {
    font-weight: 300;
    color: #596773;
    margin: 0 0 1.1rem
}

.section-team h6 {
    line-height: 1.9;
    font-weight: 400
}

.section-team .content {
    padding: 4.5rem 0 1rem
}

.section-team .content-member {
    position: relative;
    margin: .85rem 0
}

.section-team .content-illustration {
    margin: 0 0 1.78rem
}

.section-team .content-illustration > .img-fluid {
    border-radius: 50%;
}

.section-team h5 {
    font-size: 1.1rem;
    color: #596773;
    margin: 0 0 .55rem
}

.section-team p {
    margin: 0
}

.section-team .content-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #196eb4;
    display: none
}

.section-team .content-over h5, .section-team .content-over p {
    color: #fff
}

.section-research {
    padding: 5.7rem 0 5.55rem;
    border-bottom: 1px solid #e4eaef
}

.section-research .content {
    padding: 0
}

@media (min-width: 992px) {
    .section-research .content {
        padding: 0 3.3rem
    }
}

.section-research .content-illustration {
    text-align: center;
    max-height: 200px;
    max-width: 200px
}

@media (min-width: 992px) {
    .section-research .content-illustration {
        text-align: left
    }
}

.section-research .content-copy {
    padding: 2.2rem 0 0
}

.section-research h1 {
    font-weight: 300;
    color: #596773;
    margin: 0 0 2.6rem
}

.section-research h5 {
    line-height: 1.7;
    font-weight: 400;
    margin: 0 0 2.2rem
}

.section-research p {
    line-height: 1.6;
    margin: 0 0 2.2rem
}

.section-investors {
    padding: 3rem 0;
    border-bottom: 1px solid #e4eaef
}

.section-investors .content {
    padding: 1.5rem 0
}

.section-investors h1 {
    font-weight: 300;
    color: #596773;
    margin: 0 0 .1rem
}

.section-investors .content-investor {
    position: relative;
    margin: 1.5rem 0
}

.section-investors .content-illustration {
    background: #fff;
    border: 1px solid #e4eaef;
    height: 128px;
    margin: 0 auto 1rem
}

.section-investors .content-illustration .img-fluid {
    margin: 0 auto
}

.section-investors .content-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #196eb4;
    display: none
}

.section-investors .content-over a, .section-investors .content-over h5, .section-investors .content-over p {
    color: #fff
}

.section-angel-investors {
    padding: 3rem 0 1rem;
    border-bottom: 1px solid #e4eaef
}

.section-angel-investors h1 {
    font-weight: 300;
    color: #596773;
    margin: 0 0 .1rem
}

.section-angel-investors .content {
    padding: 3rem 0 1.5rem
}